@using webshop_gyakorlas.ViewModels;
@model List<WatchViewModelForShopIndex>;
@{
    ViewData["Title"] = "Shop Watches";
}

<div class="row">
    <div class="col-12">
        <h1 class="mb-5">Shop Watches</h1>
    </div>

    @{
        foreach (WatchViewModelForShopIndex watch in Model)
        {
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card" style="width: 18rem;">
                        <img src="@watch.FirstImagePath" class="card-img-top" alt="@watch.Title" title="@watch.Title">
                        <div class="card-body">
                            <h4 class="card-title">@watch.Title</h4>
                            <h5>Year: </h5><p>@watch.Watch.YearOfProduction</p>

                            <h5>Serviced: </h5>
                            @{
                                if (watch.Watch.Serviced)
                                {
                                    <p>Yes</p>
                                }
                                else
                                {
                                    <p>No</p>
                                }
                            }

                            <h5>Price: </h5><p>@watch.Watch.Price Ft</p>
                            <a href="#" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            }
    }
</div>
