@using webshop_gyakorlas.ViewModels;
@model List<WatchViewModelForShopIndex>;
@{
    ViewData["Title"] = "Shop Watches";
}

<div class="row">
    <div class="col-12">
        <h1 class="mb-5">Shop Watches</h1>
    </div>

</div>

<div class="row">
    @{
        foreach (WatchViewModelForShopIndex watch in Model)
        {
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-2">
                    <div class="card h-100 w-100" style="width: 18rem;">
                        <img src="@watch.FirstImagePath" class="card-img-top" alt="@watch.Title" title="@watch.Title">
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title">@watch.Title</h4>
                            <h5>Brand: </h5><p>@watch.Watch.Brand.Name</p>

                            <h5>Price: </h5><p>@String.Format("{0:N0}", watch.Watch.Price) Ft</p>
                            <a asp-controller="Shop" asp-action="Details" asp-route-id="@watch.Watch.Id" class="btn btn-primary w-100 stretched-link mt-auto">Details</a>
                        </div>
                    </div>
                </div>
        }
    }
</div>
