@model List<Brand>;

@{
    ViewData["Title"] = "Brands";
}

<div class="row">
    <div class="col-12">
        <h1 class="mb-5">Brands</h1>
    </div>
</div>

<div class="row">
    @{           
        foreach (Brand brand in Model)
        {
            <div class="col-12 col-sm-6 col-md-4 my-auto py-3 text-center">
                    @{
                        if (brand.Logo.Length > 0)
                        {
                                    <a asp-controller="Brand" asp-action="Details" asp-route-id="@brand.Id">
                                        <img class="img-fluid w-75" src="@brand.Logo" alt="@brand.Name" title="@brand.Name" />
                                    </a>
                        }
                        else
                        {
                           <h3>
                                @brand.Name
                           </h3>
                        }
                    }
            </div>
        }
    }
</div>
